extends layout

block vars
  - var title = "About"
  
block content
  .about
    .list
      .item Email: 
        a(href="mailto:ziw261@ucsd.edu") ziw261@ucsd.edu
      .item Mobile: 8585683696
      .item Github: 
        a(href="https://github.com/ziw261") https://github.com/ziw261
    
