doctype html
html
    block vars
    head
        title= title
        meta(name='viewport' content='width=device-width')
        block stylesheets
            link(rel='stylesheet' href='/stylesheets/style.css')
    body
        header.header
          nav.navbar.columns.mobile
                // todo 在 mobile size 的时候缩小菜单栏，显示brand
                .navbar-brand.col-2.col-3-tablet.hidden-for-mobile
                    span.logo Zi
                .navbar-menu.col-4.col-3-tablet.col-6-mobile.align-right.centered-for-mobile.columns.mobile
                    .navbar-item: a(href='/') Home
                    .navbar-item: a(href='/posts/') Projects
                    .navbar-item: a(href='/about') About
        block content
        block javascripts
