$athens-grey: #eff0f1;
$sand: #f4f4f4;
$orange: #daa520;
$dark: #272727;
$astronaut: #45516e;
$crimson: #d8000c;
$flame: #ea5e3d;
$tiffany-blue: #48beb7;
$jade: #00ac79;

$orange-border: 3px solid $orange;