.curtain {
  @extend .centered;
  display: flex;
  flex-direction: column;
  height: 100%;
  .image {
    -webkit-filter: drop-shadow(0 0 5px #d3d3d3);
    filter: drop-shadow(0 0 5px #d3d3d3);
  }
  .title {
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 0 0 5px #d3d3d3;
    padding: 0.75rem 0;
  }
  .subtitle {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 0;
  }
}

header.curtain {
  background: linear-gradient(to bottom, #ffffff 0%,#fdfdfd 68%,#fdfdfd 68%,#f4f4f4 100%);
  .title {
    font-family: 'Poiret One', 'PingFang SC', cursive;
  }
  .subtitle {
    font-size: 0.75rem;
    font-family: 'Raleway', 'PingFang SC', sans-serif;
    color: #dddddd;
  }
}