extends ../layout

block vars
    - var title = "登陆"

block content
    .columns.centered
        main.col-6.col-4-tablet.col-3-desktop
            if error
                each msg in error
                    .error=msg
            form.form(action='/users/login' method='post' autocomplete='off')
                fieldset
                    legend 身份确认
                    .form-item
                        label(for='username') 用户名或邮箱
                        input(name='username' id='username')
                    .form-item
                        label(for='password') 密码
                        input(type='password' name='password' id='password' autocomplete="new-password")
                    .form-item
                        input(type='submit' value='提交')
