doctype html
html
  head
    title= title
    meta(name='viewport' content='width=device-width')
    block stylesheets
      link(rel='stylesheet' href='/stylesheets/style.css')
      link(rel='stylesheet' href='https://unpkg.com/highlightjs@9.12.0/styles/atom-one-light.css')
      link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous")
    block javascripts
      script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
  body
      nav.navbar.mobile.sticky-top
        .navbar-brand.col-1.hidden-for-mobile
          span Aki
        .navbar-menu.navbar-menu-wide.col-4.col-6-mobile.columns.mobile
          .navbar-item: a(href='/') Home
          .navbar-item: a(href='/posts/') Projects
          .navbar-item: a(href='/about') About
      .columns.centered
        main.col-5
          if posts.length
            .post-previews
              each post in posts
                article.post
                    h1.title: a(href='/posts/' + post.id)=post.title
                    .information
                      // - date = new Date(post.timestamp)
                      // .time= date.toLocaleString('en-us', { weekday: 'short', month: 'short', day: '2-digit', year: 'numeric' })
                      .category: a=post.category.name
                    .content
                        | !{post.abbr}
                    .continue: a(href='/posts/' + post.id) Detail
                        i.fas.fa-angle-right
          else
            div Nothing here...
          if pageTotal > 1
            .centered
              ul.pagination
                if page != 1
                  li.arrow: a(href='?page=' + (parseInt(page) - 1)) &laquo;
                - for(let i = 1; i <= pageTotal; i++) {
                if i == page
                  li(class = 'active'): a(href='?page=' + i)= i
                else
                  li: a(href='?page=' + i)= i
                - }
                if page != pageTotal
                  li.arrow: a(href='?page=' + (parseInt(page) + 1)) &raquo;

script.
  $(function () {
    let fixed = false;
    let nav = $('.curtain .navbar');
    let top = nav.offset().top
    $(window).on('scroll', function () {
      let distance = top - $(this).scrollTop();
      if (distance <= 0 && !fixed) {
        fixed = true;
        nav.toggleClass('fixed-top');
        nav.find('.navbar-brand').toggleClass('invisible');
        nav.find('.navbar-menu').toggleClass('navbar-menu-wide');
      } else if (distance >= 0 && fixed) {
        fixed = false;
        nav.toggleClass('fixed-top');
        nav.find('.navbar-brand').toggleClass('invisible');
        nav.find('.navbar-menu').toggleClass('navbar-menu-wide');
      }
    })
  });
