extends ../layout

block vars
    - var title = post.title

append stylesheets
    link(rel='stylesheet' href='https://unpkg.com/highlightjs@9.12.0/styles/atom-one-light.css')

block content
    .columns.centered
        main.col-6.col-5-tablet.col-4-desktop
            article.post
                if user
                    a.edit-icon(href=post.id + '/edit') 编辑
                h1.title= post.title
                .information
                    - date = new Date(post.timestamp)
                    .time= date.toLocaleString('en-us', { weekday: 'short', month: 'short', day: '2-digit', year: 'numeric' })
                    .category: a= post.category.name
                .content
                    | !{post.content}
